h1{
    background-color: #EAA5DF;

}
p{
    color: black;
    background-color: #EAA5DF;
}
 
body{
    background-color: white;
    color: black;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

