
h1{
    background-color: #EAA5DF;

}
.comic-neue-light {
    font-family: "Comic Neue", cursive;
    font-weight: 300;
    font-style: normal;
  }
  
  .comic-neue-regular {
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .comic-neue-bold {
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: normal;
  }
  
  .comic-neue-light-italic {
    font-family: "Comic Neue", cursive;
    font-weight: 300;
    font-style: italic;
  }
  
  .comic-neue-regular-italic {
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: italic;
  }
  
  .comic-neue-bold-italic {
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: italic;
  }
  
p{
    color: black;
    background-color: #EAA5DF;
}
 
body{
    background-color: white;
    color: black;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div, button{ 
    background-color: #EAA5DF;
    margin:5px;
    width: 15em;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-style: solid;
}

input {
    background-color: hsl(310, 92%, 95%);
    border-radius: 5px;
    padding: 5px;
    border-style: solid;
    border-color: #d32eb7;
}

button:hover {
    background-color: #a34994;
}

.styles{
    margin:auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    border-radius: 5em;
    border-style: solid;
}

.column{
    display: flex;
    flex-flow: row wrap;
    margin-right: 40%;
}

#incomeId {
  background-color: #EAA5DF;
  margin:auto;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:5px;
  border-radius: 5em;
  border-style: solid;
}

#monthlyInput, #dailyInput {
  padding-right: 10rem;
  margin-left: 75rem;
  margin-bottom: 5rem;
}